# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example


# user-uploaded payment screenshots
/public/uploads/payments/*
!/public/uploads/payments/.gitkeep

# course announcement materials
/public/uploads/announcements/*
!/public/uploads/announcements/.gitkeep

# academy site announcement photos
/public/uploads/site-announcements/*
!/public/uploads/site-announcements/.gitkeep

# admin-uploaded completion certificates
/public/uploads/certificates/*
!/public/uploads/certificates/.gitkeep

# bookstore uploads
/public/uploads/books/*
!/public/uploads/books/.gitkeep

# blog uploads
/public/uploads/blogs/*
!/public/uploads/blogs/.gitkeep

# library uploads
/public/uploads/library/*
!/public/uploads/library/.gitkeep

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
